In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./data/Dataset.csv')

In [3]:
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [4]:
df.shape

(9551, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [8]:
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [9]:
df=df.drop(labels=['Restaurant ID'],axis=1)
df=df.drop(labels=['Restaurant Name'],axis=1)

In [10]:
df

,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,80,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,55,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [11]:
df.shape

(9551, 19)

In [12]:
df.isnull().sum()

Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [13]:
# Null value is so small compared to the available dataset, can be ignored
df = df.dropna(subset=["Cuisines"])

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df

,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,80,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,55,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   object
 2   Address               9542 non-null   object
 3   Locality              9542 non-null   object
 4   Locality Verbose      9542 non-null   object
 5   Longitude             9542 non-null   float64
 6   Latitude              9542 non-null   float64
 7   Cuisines              9542 non-null   object
 8   Average Cost for two  9542 non-null   int64
 9   Currency              9542 non-null   object
 10  Has Table booking     9542 non-null   object
 11  Has Online delivery   9542 non-null   object
 12  Is delivering now     9542 non-null   object
 13  Switch to order menu  9542 non-null   object
 14  Price range           9542 non-null   int64
 15  Aggregate rating      9542 non-null   float64
 16  Rating color          9542 non-null   object
 17  Rating text           9542 non-null   object
 18  Votes                 9542 non-null   int64
dtypes: float64(3), int64(4), object(12)
memory usage: 1.5+ MB

In [17]:
## segregate numerical and categorical columns

numerical_columns=df.columns[df.dtypes!='object']
categorical_columns=df.columns[df.dtypes=='object']
print("Numerical columns:",numerical_columns)
print('Categorical Columns:',categorical_columns)

Numerical columns: Index(['Country Code', 'Longitude', 'Latitude', 'Average Cost for two',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')
Categorical Columns: Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Cuisines',
       'Currency', 'Has Table booking', 'Has Online delivery',
       'Is delivering now', 'Switch to order menu', 'Rating color',
       'Rating text'],
      dtype='object')

In [18]:
df['Has Table booking'].unique()

array(['Yes', 'No'], dtype=object)

In [19]:
Has_Table_booking_map = {'Yes': 1, 'No': 0}

In [20]:
df['Has Online delivery'].unique()

array(['No', 'Yes'], dtype=object)

In [21]:
df['Has Online delivery'].value_counts()

Has Online delivery
No     7091
Yes    2451
Name: count, dtype: int64

In [22]:
Has_online_delivery_map = {'Yes': 1, 'No': 0}

In [23]:
df['Is delivering now'].unique()

array(['No', 'Yes'], dtype=object)

In [24]:
Is_delivering_now_map = {'Yes': 1, 'No': 0}

In [25]:
df['Switch to order menu'].unique()

array(['No'], dtype=object)

In [26]:
df['Switch to order menu'].value_counts()

Switch to order menu
No    9542
Name: count, dtype: int64

In [27]:
df.drop(columns=["Switch to order menu"], inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\2343683483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Switch to order menu"], inplace=True)

In [28]:
df['Rating color'].unique()

array(['Dark Green', 'Green', 'Yellow', 'Orange', 'White', 'Red'],
      dtype=object)

In [29]:
Rating_color_map = {'Dark Green': 5, 'Green': 4, 'Yellow': 3, 'Orange': 2, 'Red': 1}

In [30]:
df['Rating text'].unique()

array(['Excellent', 'Very Good', 'Good', 'Average', 'Not rated', 'Poor'],
      dtype=object)

In [31]:
# Exclude "Not rated" from mode calculation
mode_value = df[df["Rating text"] != "Not rated"]["Rating text"].mode()[0]

# Replace "Not rated" with the calculated mode
df["Rating text"] = df["Rating text"].replace("Not rated", mode_value)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\3172918894.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating text"] = df["Rating text"].replace("Not rated", mode_value)

In [ ]:
df['Rating text'].unique()

In [32]:
Rating_text_map = {'Excellent': 5, 'Very Good': 4, 'Good': 3, 'Average': 2, 'Poor': 1}

In [33]:
df['Has Online delivery']=df['Has Online delivery'].map(Has_online_delivery_map)
df['Has Table booking']=df['Has Table booking'].map(Has_Table_booking_map)
df['Is delivering now']=df['Is delivering now'].map(Is_delivering_now_map)
df['Rating color']=df['Rating color'].map(Rating_color_map)
df['Rating text']=df['Rating text'].map(Rating_text_map)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\3700114547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Has Online delivery']=df['Has Online delivery'].map(Has_online_delivery_map)
C:\Users\User\AppData\Local\Temp\ipykernel_4568\3700114547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Has Table booking']=df['Has Table booking'].map(Has_Table_booking_map)
C:\Users\User\AppData\Local\Temp\ipykernel_4568\3700114547.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is delivering now']=df['Is delivering now'].map(Is_delivering_now_map)
C:\Users\User\AppData\Local\Temp\ipykernel_4568\3700114547.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating color']=df['Rating color'].map(Rating_color_map)
C:\Users\User\AppData\Local\Temp\ipykernel_4568\3700114547.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating text']=df['Rating text'].map(Rating_text_map)

In [34]:
df

,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),1,0,0,3,4.8,5.0,5,314
1,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),1,0,0,3,4.5,5.0,5,591
2,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),1,0,0,4,4.4,4.0,4,270
3,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),0,0,0,4,4.9,5.0,5,365
4,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),1,0,0,4,4.8,5.0,5,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,80,Turkish Lira(TL),0,0,0,3,4.1,4.0,4,788
9547,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),0,0,0,3,4.2,4.0,4,1034
9548,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),0,0,0,4,3.7,3.0,3,661
9549,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),0,0,0,4,4.0,4.0,4,901
9550,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,55,Turkish Lira(TL),0,0,0,2,4.0,4.0,4,591

In [35]:
df

,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),1,0,0,3,4.8,5.0,5,314
1,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),1,0,0,3,4.5,5.0,5,591
2,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),1,0,0,4,4.4,4.0,4,270
3,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),0,0,0,4,4.9,5.0,5,365
4,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),1,0,0,4,4.8,5.0,5,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,80,Turkish Lira(TL),0,0,0,3,4.1,4.0,4,788
9547,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),0,0,0,3,4.2,4.0,4,1034
9548,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),0,0,0,4,3.7,3.0,3,661
9549,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),0,0,0,4,4.0,4.0,4,901
9550,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,55,Turkish Lira(TL),0,0,0,2,4.0,4.0,4,591

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   object
 2   Address               9542 non-null   object
 3   Locality              9542 non-null   object
 4   Locality Verbose      9542 non-null   object
 5   Longitude             9542 non-null   float64
 6   Latitude              9542 non-null   float64
 7   Cuisines              9542 non-null   object
 8   Average Cost for two  9542 non-null   int64
 9   Currency              9542 non-null   object
 10  Has Table booking     9542 non-null   int64
 11  Has Online delivery   9542 non-null   int64
 12  Is delivering now     9542 non-null   int64
 13  Price range           9542 non-null   int64
 14  Aggregate rating      9542 non-null   float64
 15  Rating color          7394 non-null   float64
 16  Rating text           9542 non-null   int64
 17  Votes                 9542 non-null   int64
dtypes: float64(4), int64(8), object(6)
memory usage: 1.4+ MB

In [37]:
df['Cuisines'].unique()

array(['French, Japanese, Desserts', 'Japanese',
       'Seafood, Asian, Filipino, Indian', ..., 'Burger, Izgara',
       'World Cuisine, Patisserie, Cafe', 'Italian, World Cuisine'],
      shape=(1825,), dtype=object)

In [38]:
df["Cuisines"].nunique()

1825

In [39]:
# Count occurrences of each cuisine
cuisine_counts = df["Cuisines"].value_counts()

# Map the count to the original column
df["Cuisines"] = df["Cuisines"].map(cuisine_counts)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\2569930622.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cuisines"] = df["Cuisines"].map(cuisine_counts)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   object
 2   Address               9542 non-null   object
 3   Locality              9542 non-null   object
 4   Locality Verbose      9542 non-null   object
 5   Longitude             9542 non-null   float64
 6   Latitude              9542 non-null   float64
 7   Cuisines              9542 non-null   int64
 8   Average Cost for two  9542 non-null   int64
 9   Currency              9542 non-null   object
 10  Has Table booking     9542 non-null   int64
 11  Has Online delivery   9542 non-null   int64
 12  Is delivering now     9542 non-null   int64
 13  Price range           9542 non-null   int64
 14  Aggregate rating      9542 non-null   float64
 15  Rating color          7394 non-null   float64
 16  Rating text           9542 non-null   int64
 17  Votes                 9542 non-null   int64
dtypes: float64(4), int64(9), object(5)
memory usage: 1.4+ MB

In [41]:
df['City'].nunique()

140

In [42]:
# Count occurrences of each city
city_counts = df["City"].value_counts()

# Map the count to the original column
df["City"] = df["City"].map(city_counts)

C:\Users\User\AppData\Local\Temp\ipykernel_4568\402366632.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["City"] = df["City"].map(city_counts)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   int64
 2   Address               9542 non-null   object
 3   Locality              9542 non-null   object
 4   Locality Verbose      9542 non-null   object
 5   Longitude             9542 non-null   float64
 6   Latitude              9542 non-null   float64
 7   Cuisines              9542 non-null   int64
 8   Average Cost for two  9542 non-null   int64
 9   Currency              9542 non-null   object
 10  Has Table booking     9542 non-null   int64
 11  Has Online delivery   9542 non-null   int64
 12  Is delivering now     9542 non-null   int64
 13  Price range           9542 non-null   int64
 14  Aggregate rating      9542 non-null   float64
 15  Rating color          7394 non-null   float64
 16  Rating text           9542 non-null   int64
 17  Votes                 9542 non-null   int64
dtypes: float64(4), int64(10), object(4)
memory usage: 1.4+ MB

In [44]:
df[['Locality', 'Locality Verbose']].nunique()

Locality            1206
Locality Verbose    1263
dtype: int64

In [45]:
(df['Locality'] == df['Locality Verbose']).value_counts()

False    9538
True        4
Name: count, dtype: int64

In [46]:
similarity_percentage = (df['Locality'] == df['Locality Verbose']).mean() * 100
print(f"Similarity: {similarity_percentage:.2f}%")

Similarity: 0.04%

In [47]:
# Drop redundant address-related columns
df.drop(columns=["Address", "Locality", "Locality Verbose"], inplace=True)

# Verify if columns are dropped
print(df.columns)

# Since we already encoded City, we can drop these:

# Address (Too specific, not useful)

# Locality (Similar to City)

# Locality Verbose (Same as Locality but more descriptive)

Index(['Country Code', 'City', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

C:\Users\User\AppData\Local\Temp\ipykernel_4568\2096764289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Address", "Locality", "Locality Verbose"], inplace=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   int64
 2   Longitude             9542 non-null   float64
 3   Latitude              9542 non-null   float64
 4   Cuisines              9542 non-null   int64
 5   Average Cost for two  9542 non-null   int64
 6   Currency              9542 non-null   object
 7   Has Table booking     9542 non-null   int64
 8   Has Online delivery   9542 non-null   int64
 9   Is delivering now     9542 non-null   int64
 10  Price range           9542 non-null   int64
 11  Aggregate rating      9542 non-null   float64
 12  Rating color          7394 non-null   float64
 13  Rating text           9542 non-null   int64
 14  Votes                 9542 non-null   int64
dtypes: float64(4), int64(10), object(1)
memory usage: 1.2+ MB

In [49]:
df['Currency'].nunique()

12

In [50]:
df.shape

(9542, 15)

In [51]:
df['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(��)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [52]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the "Currency" column
df["Currency"] = label_encoder.fit_transform(df["Currency"])

C:\Users\User\AppData\Local\Temp\ipykernel_4568\1310333566.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Currency"] = label_encoder.fit_transform(df["Currency"])

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9542 non-null   int64
 1   City                  9542 non-null   int64
 2   Longitude             9542 non-null   float64
 3   Latitude              9542 non-null   float64
 4   Cuisines              9542 non-null   int64
 5   Average Cost for two  9542 non-null   int64
 6   Currency              9542 non-null   int64
 7   Has Table booking     9542 non-null   int64
 8   Has Online delivery   9542 non-null   int64
 9   Is delivering now     9542 non-null   int64
 10  Price range           9542 non-null   int64
 11  Aggregate rating      9542 non-null   float64
 12  Rating color          7394 non-null   float64
 13  Rating text           9542 non-null   int64
 14  Votes                 9542 non-null   int64
dtypes: float64(4), int64(11)
memory usage: 1.2 MB

In [54]:
df["Rating color"].isnull().sum()

np.int64(2148)

In [55]:
mode_value = df["Rating color"].mode()[0]
df["Rating color"] = df["Rating color"].fillna(df["Rating color"].mode()[0])

C:\Users\User\AppData\Local\Temp\ipykernel_4568\3994474403.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating color"] = df["Rating color"].fillna(df["Rating color"].mode()[0])

In [56]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [57]:
# Define categorical and numerical columns
numerical_cols = ['Longitude', 'Latitude', 'Average Cost for two', 'Votes']
categorical_cols = ['Country Code', 'City', 'Cuisines', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Price range', 'Rating text']

# Define ordinal encoding categories for categorical columns (modify as needed)
currency_categories = [['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)', 'Emirati Diram(AED)',
                         'Indian Rupees(Rs.)', 'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(€)',
                         'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)', 'Turkish Lira(TL)']]

In [58]:
# Numerical Pipeline
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Categorical Pipeline
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    # Remove or adjust the 'categories' argument here
    ('ordinalencoder', OrdinalEncoder()),
    ('scaler', StandardScaler())
])
# Combine Preprocessing Steps
preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_cols),
    ('cat_pipeline', cat_pipeline, categorical_cols)
])

In [59]:
X = df.drop(columns=['Aggregate rating'])  # Features
y = df['Aggregate rating']  # Target variable

In [60]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=30)

In [61]:
# Transform dataset
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [62]:
# Define model evaluation function
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [66]:
## Train multiple models
## Model Evaluation
models = {
    'LinearRegression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'ElasticNet': ElasticNet(),
    'DecisionTree': DecisionTreeRegressor(),
    'RandomForest': RandomForestRegressor()
}

trained_model_list = []
model_list = []
train_r2_list = []
test_r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_mae, train_rmse, train_r2 = evaluate_model(y_train, y_train_pred)
    test_mae, test_rmse, test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("Train RMSE:", train_rmse, "Test RMSE:", test_rmse)
    print("Train MAE:", train_mae, "Test MAE:", test_mae)
    print("Train R2 Score:", train_r2 * 100, "%", "Test R2 Score:", test_r2 * 100, "%")

    train_r2_list.append(train_r2)
    test_r2_list.append(test_r2)

    # Check for Overfitting
    if train_r2 - test_r2 > 0.10:  # If train R² is significantly higher than test R²
        print(f"⚠️ Possible Overfitting Detected in {list(models.keys())[i]} ⚠️")

    print('=' * 40)
    print('\n')

LinearRegression
Model Training Performance
Train RMSE: 1.131428045178969 Test RMSE: 1.1360395510220933
Train MAE: 0.9329927584082991 Test MAE: 0.9339702284330551
Train R2 Score: 44.093941890017874 % Test R2 Score: 44.44468337631545 %
========================================


Lasso
Model Training Performance
Train RMSE: 1.513204080642662 Test RMSE: 1.5241997243598664
Train MAE: 1.2147885447705546 Test MAE: 1.229540601371919
Train R2 Score: 0.0 % Test R2 Score: -0.005176700261233513 %
========================================


Ridge
Model Training Performance
Train RMSE: 1.1314280555533627 Test RMSE: 1.1360349747632206
Train MAE: 0.932976588490061 Test MAE: 0.9339458267740726
Train R2 Score: 44.09394086477998 % Test R2 Score: 44.445130957560906 %
========================================


ElasticNet
Model Training Performance
Train RMSE: 1.3636184578566604 Test RMSE: 1.3756480126167236
Train MAE: 1.1152084918345269 Test MAE: 1.1297020143256375
Train R2 Score: 18.793510845373984 % Test R2 Score: 18.538317782948088 %
========================================


DecisionTree
Model Training Performance
Train RMSE: 8.418217071883616e-17 Test RMSE: 0.23845321790423749
Train MAE: 1.5159805336998695e-17 Test MAE: 0.15106531610199092
Train R2 Score: 100.0 % Test R2 Score: 97.55237376708924 %
========================================


RandomForest
Model Training Performance
Train RMSE: 0.06551603925688874 Test RMSE: 0.17351706198486733
Train MAE: 0.04438463841892526 Test MAE: 0.11918372336709747
Train R2 Score: 99.81254360475043 % Test R2 Score: 98.703946004941 %
========================================

In [67]:
model_list

['LinearRegression',
 'Lasso',
 'Ridge',
 'ElasticNet',
 'DecisionTree',
 'RandomForest']